*,
*::before,
*::after {
	box-sizing: inherit;
	color: inherit;
	font-size: 1em;
	font-style: inherit;
	font-weight: inherit;
	line-height: 1;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	cursor: default;
}

img,
svg {
	display: block;
}

textarea {
    resize: vertical;
}
